<a href="https://colab.research.google.com/github/sateeshlevelup/ADF/blob/main/Python_dict_tuple_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Dictionary
Key-Value Storage: Unlike lists and tuples, which store values sequentially,
dictionaries store data as key-value pairs, making retrieval efficient.

Fast Lookups: Dictionary operations like retrieval and insertion are optimized with a hashing mechanism, making them faster than searching in lists.

Unordered but Indexed: Unlike lists, dictionaries do not store items in a sequential order, but Python 3.7+ maintains the insertion order.

Flexible Keys: Dictionary keys can be of various immutable types, such as strings, numbers, and tuples.

Efficient Memory Usage: Dictionaries are optimized for space and performance, making them ideal for large datasets.

Useful for Data Mapping: Dictionaries are commonly used in data manipulation, JSON parsing, configuration management, and caching.

Mutability: Unlike tuples, dictionaries are mutable, allowing modifications after creation.

In [ ]:
# dict is defined in {} or dict() constructor

student = {

         "key" :"value",
         "key":"value",
         "key":"value"
}

In [ ]:
student= {

          "name":"Jyothi",
          "age" : 21,
          "course":"Gen AI"

}
print(student)


student2 = dict(name="Jyothi",age=21,course="Gen AI")
print(student2)

{'name': 'Jyothi', 'age': 21, 'course': 'Gen AI'}
{'name': 'Jyothi', 'age': 21, 'course': 'Gen AI'}

In [ ]:
a = [1,2,3,4,5]

print(a[1])

2

In [ ]:
# adding and updating Element to DICT

student["city"] = "orrisa"
student["phone"]= 987678899

In [ ]:
# Accessing Dictionary Elements

print(student["name"])
print(student.get("name"))
print(student.get("phone","not Found"))
print(student.get("phone"))
print(student)

Jyothi
Jyothi
987678899
987678899
{'name': 'Jyothi', 'age': 21, 'course': 'Gen AI', 'city': 'orrisa', 'phone': 987678899}

In [ ]:
# remove elements
del student["age"]
print(student)

#pop

age

{'name': 'Jyothi', 'course': 'Gen AI', 'city': 'orrisa', 'phone': 987678899}

In [ ]:
student["age"]= 21
print(student)

{'name': 'Jyothi', 'course': 'Gen AI', 'city': 'orrisa', 'phone': 987678899, 'age': 21}

In [ ]:
#age1 = student.pop("phone")
print(age1)
print(student)

987678899
{'name': 'Jyothi', 'course': 'Gen AI', 'city': 'orrisa'}

In [ ]:
student.clear()

In [ ]:
print(student)

{}

In [ ]:
student= {

          "name":"Jyothi",
          "age" : 21,
          "course":"Gen AI"

}

In [ ]:
student1= {

          "name":"Jyothi",
          "age" : 22,
          "course":"Gen AI"

}

In [ ]:
# operations on Dictionary

len(student)

#See all keys
student.keys() #dict.keys-> output will be in the form of list
student.values()
student.items() # list of tuples
student.get("name")
student.update(student1)
student3=student.copy()
print(student3)

{'name': 'Jyothi', 'age': 22, 'course': 'Gen AI'}

# Python Tuples

A tuple in Python is an immutable ordered collection of elements. Tuples are similar to lists, but unlike lists, they cannot be changed after their creation (i.e., they are immutable). Tuples can hold elements of different data types. The main characteristics of tuples are being ordered , heterogeneous and immutable.

In [ ]:
# tuple are created using ()

a = ()

print(a)


tup = ("Level","up")
print(tup)

tup1 = (1,2,3,4,5,6)
print(tup1)

lis = [1,2,3,4,5,6]
print(tuple(lis))

()
('Level', 'up')
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [ ]:
# Accessing tuple with indexing

tup =('LevelUP','i','am','laerning','python')

print(tup[0])

print(tup[1:4])

print(tup[:3])

print(tup[3:])

LevelUP
('i', 'am', 'laerning')
('LevelUP', 'i', 'am')
('laerning', 'python')

In [ ]:
# Concatenation of tuples

tup1 = (0,1,2,3)
tup2 =("LeveuP","learning","Python" )

tup3 = tup1+tup2
print(tup3)

(0, 1, 2, 3, 'LeveuP', 'learning', 'Python')

In [ ]:
tup =tuple('iamlearnnigpython')
print(tup[1:])
print(tup[::-1])
print(tup[4:9])

('a', 'm', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g', 'p', 'y', 't', 'h', 'o', 'n')
('n', 'o', 'h', 't', 'y', 'p', 'g', 'n', 'i', 'n', 'r', 'a', 'e', 'l', 'm', 'a', 'i')
('e', 'a', 'r', 'n', 'i')

Count

len

min

max

sum

sorted


all

any

In [ ]:
# in build methods


tup = (1,2,2,4)

count_of_tup = tup.count(2)
print(count_of_tup)

index_of_tup = tup.index(4)
print(index_of_tup)

2
3

In [ ]:
t4 = ("hello ") * 10

print(t4)

hello hello hello hello hello hello hello hello hello hello

In [ ]:
tuop3= (10,11,12,13,14,15,16)
len(tuop3)

7

In [ ]:
tup3= (10,11,12,13,14,15,16)
smallaest_value= min(tup3)
print(smallaest_value)

10

In [ ]:
tup3= (10,11,12,13,14,15,16)
higest_value= max(tup3)
print(higest_value)

16

In [ ]:
tup3= (10,11,12,13,14,15,16)
sum_value= sum(tup3)
print(sum_value)

91

In [ ]:
my_tuple = (9,2,1,3,7,4,5)
sorted_tuple = sorted(my_tuple)
print(sorted_tuple)

[1, 2, 3, 4, 5, 7, 9]

# Sets

Python set is an unordered collection of multiple items having different datatypes. In Python, sets are mutable, unindexed and do not contain duplicates. The order of elements in a set is not preserved and can change.

Curly braces {}, second set()

In [ ]:
my_set ={1,2,3,2}
print(my_set)

{1, 2, 3}

In [ ]:
fruits = {"apple","banana","cherry"}
print(fruits)

{'apple', 'cherry', 'banana'}

In [ ]:
fruits = {"apple","banana","cherry","banana"}
print(fruits)

{'apple', 'cherry', 'banana'}

TypeError: 'set' object is not subscriptable

In [ ]:
my_set ={1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [ ]:
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
myset1 ={1,2,3}
myset2 ={3,4,5}

s_union =myset1.union(myset2)
print(s_union)

{1, 2, 3, 4, 5}

In [ ]:
1 not in myset1

False



| **Data Structure** | **Definition / Syntax**                                 | **Mutability**                                                  | **Ordered?**                                                        | **Duplicates**                                                    | **Indexing & Access**                                            | **Common Use Cases**                                                                                     |
|--------------------|---------------------------------------------------------|-----------------------------------------------------------------|---------------------------------------------------------------------|-------------------------------------------------------------------|------------------------------------------------------------------|-----------------------------------------------------------------------------------------------------------|
| **List**           | - Literal: `[item1, item2, ...]`<br>- Constructor: `list()`  | **Mutable** <br>(can add, remove, or change elements)           | **Yes** <br>(insertion order is preserved)                          | **Allowed**                                                       | - **Zero-based** index <br>- Supports slicing                     | - General-purpose, dynamic array <br>- Sequential/ordered data where updates are common                  |
| **Tuple**          | - Literal: `(item1, item2, ...)`<br>- Constructor: `tuple()` | **Immutable** <br>(cannot add, remove, or change elements)       | **Yes** <br>(in the order elements were defined)                    | **Allowed**                                                       | - **Zero-based** index <br>- Supports slicing (read-only)         | - Fixed collections <br>- Safe from modifications <br>- Can be used as dict keys because they’re hashable |
| **Set**            | - Literal: `{item1, item2, ...}`<br>- Constructor: `set()`   | **Mutable** <br>(can add/remove elements; but no item *reassignment* because there’s no index) | **No** <br>(unordered collection)                                    | **Not Allowed** <br>(all items must be unique)                   | - No direct index access <br>- Access via membership checks (`in`) | - Membership testing <br>- Removing duplicates <br>- Mathematical set operations (union, intersection, etc.) |
| **Dictionary**     | - Literal: `{key1: val1, key2: val2, ...}`<br>- Constructor: `dict()` | **Mutable** <br>(can add, remove, or change key-value pairs)    | **Yes** <br>(insertion order is preserved as of Python 3.7+)         | **Keys must be unique** <br> (values can be duplicated)           | - **Key-based** access <br>- `dict_var[key] = value`               | - Fast lookups by key <br>- Structured data <br>- Configuration, mappings, or object-like data storage   |
| **String**         | - Literal: `"Hello"` or `'Hello'`<br>- Constructor: `str()`  | **Immutable** <br>(cannot modify characters in place)           | **Yes** <br>(character order is preserved)                          | **Allowed** <br>(characters can repeat)                           | - **Zero-based** index <br>- Supports slicing (read-only)         | - Text/character data <br>- Common string manipulations (slicing, concatenation, etc.)                  |

---

## Additional Notes

1. **Lists vs. Tuples**  
   - Use **lists** for collections that may change over time (append, remove, replace elements).  
   - Use **tuples** for fixed collections or when you need an **immutable** sequence (e.g., coordinates, database records that shouldn’t change).

2. **Sets**  
   - Great for **fast membership testing** (`element in set`) and removing duplicates from a sequence.  
   - Support mathematical operations: `union (|)`, `intersection (&)`, `difference (-)`, etc.

3. **Dictionaries**  
   - Store **key-value** pairs with quick lookups.  
   - Python 3.7+ keeps insertion order (for older versions, order was not guaranteed).

4. **Strings**  
   - Treated as a **sequence of characters**.  
   - Common string operations: concatenation, slicing, case transformations, splitting, etc.  
   - Immutable, so operations like `replace()` or `strip()` return **new** strings.

With this overview, you can choose the most suitable data structure for a given programming task in Python.

# range()

Range is a built-in-function in python that generates a sequence of intergers
-> for loops to specify how many times the loop should run

In [ ]:
for num in range(5,15):
  print(num)

5
6
7
8
9
10
11
12
13
14

range(start,stop)
range(Start,stop,step)

In [ ]:
for num in range(5,25,3):
  print(num)

5
8
11
14
17
20
23

In [ ]:
r = range(11)
print(list(r))
print(tuple(r))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
total = sum(range(1,6))
print("Sum from 1 to 5:",total)

Sum from 1 to 5: 15



## Tuples (Assignments 1-12)

1. **Basic Tuple Creation**  
   - Create a tuple of 5 different integers.  
   - Print the tuple and its length.  
   - Explain why tuples are immutable.

2. **Accessing and Slicing**  
   - Given a tuple `(10, 20, 30, 40, 50, 60)`, print:  
     - The first element  
     - The last element  
     - A slice of the middle four elements  
   - Explain negative indexing with an example.

3. **Tuple Concatenation**  
   - Create two tuples:  
     - `tuple_a = (1, 2, 3)`  
     - `tuple_b = ("a", "b", "c")`  
   - Concatenate them into a new tuple and print the result.

4. **Repetition**  
   - Create a tuple `("repeat",)` and repeat it 5 times using the `*` operator.  
   - Print the resulting tuple.

5. **Tuple Methods**  
   - Given a tuple with repeated numbers, e.g., `(2, 5, 2, 7, 2, 9, 5)`:  
     - Count how many times `2` appears.  
     - Find the index of the first occurrence of `5`.

6. **Converting List to Tuple**  
   - Take a list from user input, e.g. `["apple", "banana", "cherry"]`.  
   - Convert it to a tuple.  
   - Print both the list and the tuple to show differences in representation.

7. **Unpacking Tuples**  
   - Create a tuple of three variables: `(name, age, city)`.  
   - Unpack it into separate variables.  
   - Print each variable on a separate line.

8. **Nested Tuples**  
   - Create a tuple containing 3 smaller tuples:  
     ```python
     master_tuple = (
       (1, 2, 3),
       ("a", "b", "c"),
       (True, False, True)
     )
     ```
   - Print each nested tuple, then access an individual element from each nested tuple.

9. **Check Existence**  
   - Given a tuple of strings: `("red", "blue", "green", "yellow")`.  
   - Ask the user for a color. Check if the color is in the tuple, and print an appropriate message.

10. **Tuple to String**  
    - Create a tuple of characters: `('P', 'y', 't', 'h', 'o', 'n')`.  
    - Join them into a single string `"Python"` using `''.join()` and print it.

11. **Min, Max, Sum**  
    - Create a tuple of random integers, e.g. `(4, 1, 9, 3, 2)`.  
    - Print the minimum value, maximum value, and the sum of all elements.

12. **Immutable Behavior**  
    - Attempt to change the second element in a tuple `(10, 20, 30)`.  
    - Show that this throws a `TypeError`.  
    - Explain why immutability is useful in certain scenarios.

---

## Sets (Assignments 13-24)

13. **Basic Set Operations**  
    - Create a set of numbers `{1, 2, 3, 4, 5}`.  
    - Print the set and verify that duplicate elements added are not reflected in the set.

14. **Add and Remove**  
    - Start with an empty set.  
    - Use `add()` to insert elements one by one.  
    - Use `remove()` (or `discard()`) to remove one element.  
    - Print the final set.

15. **Set Membership**  
    - Given a set `{"apple", "banana", "cherry"}`, ask the user for a fruit.  
    - Print whether or not that fruit is in the set.

16. **Union and Intersection**  
    - Create two sets:  
      - `set_a = {1, 2, 3, 4}`  
      - `set_b = {3, 4, 5, 6}`  
    - Print the union and the intersection of these sets.

17. **Difference and Symmetric Difference**  
    - Using the same sets from assignment 16 (`set_a` and `set_b`):  
      - Print the difference `set_a - set_b` and `set_b - set_a`.  
      - Print the symmetric difference of the two sets.

18. **Set from List**  
    - Take a list of numbers with duplicates, e.g., `[1, 2, 2, 3, 4, 4, 4, 5]`.  
    - Convert it to a set to remove duplicates.  
    - Print the unique elements.

19. **Frozenset**  
    - Create a frozenset from a list of names.  
    - Demonstrate that you cannot add or remove items from a frozenset.  
    - Explain practical scenarios where an immutable set is beneficial.

20. **isdisjoint, issubset, issuperset**  
    - Given two sets, check if they are disjoint (no elements in common).  
    - Check if one set is a subset of the other.  
    - Check if one set is a superset of the other.  
    - Print the results.

21. **Iterating Over a Set**  
    - Create a set of 5 random integers.  
    - Use a `for` loop to print each element on a new line.  
    - Note that the output order is not guaranteed.

22. **Filter Unique Words**  
    - Ask the user to enter a sentence.  
    - Split the sentence into words and store them in a set to remove duplicates.  
    - Print the unique words.

23. **Pop Operation**  
    - Create a set of colors.  
    - Use `.pop()` multiple times to see which element is removed each time.  
    - Explain that `pop()` removes an **arbitrary** element since sets are unordered.

24. **Copying Sets**  
    - Create a set `original_set = {1, 3, 5}`.  
    - Make a copy of the set using either `copy()` or `set(...)`.  
    - Add elements to the original set and show the copied set remains unchanged.

---

## Dictionaries (Assignments 25-36)

25. **Basic Dictionary Creation**  
    - Create a dictionary with keys `"name"`, `"age"`, and `"city"`.  
    - Print the dictionary.

26. **Accessing Values**  
    - Given a dictionary `student = {"name": "John", "age": 18, "grade": "A"}`, print each value by accessing `student["key"]`.  
    - Also show accessing a non-existent key and explain the error or use `get()`.

27. **Adding and Updating**  
    - Start with an empty dictionary `my_dict = {}`.  
    - Add a key `"language"` with value `"Python"`.  
    - Update the value of `"language"` to `"Java"`.  
    - Print the final dictionary.

28. **Deleting Items**  
    - Given a dictionary `{"brand": "Toyota", "model": "Corolla", "year": 2020}`, remove the `"year"` key using `del`.  
    - Print the dictionary to confirm removal.

29. **Looping Through a Dictionary**  
    - Create a dictionary of 3-4 key-value pairs.  
    - Print all keys, all values, and all items (key-value pairs) using different loops.

30. **Check Existence of Key**  
    - Given a dictionary `{"red": 1, "blue": 2, "green": 3}`, ask the user for a color.  
    - Check if the color is in the dictionary keys. Print the corresponding value if found.

31. **Dictionary Methods**  
    - Experiment with `keys()`, `values()`, `items()`.  
    - Print the results to see how they differ.  
    - Convert these views to lists/tuples and print them.

32. **Merging Two Dictionaries**  
    - Create two dictionaries:  
      - `dict_a = {"x": 1, "y": 2}`  
      - `dict_b = {"y": 10, "z": 3}`  
    - Merge them using `.update()` or the `**` operator.  
    - Check how conflicting keys (`"y"`) are handled.

33. **Default Values with `get()`**  
    - Use a dictionary `contacts = {"Alice": "123-456", "Bob": "987-654"}`.  
    - Ask the user for a name to search.  
    - Print `contacts.get(name, "Not Found")`.

34. **Dictionary of Lists**  
    - Create a dictionary where each key is a student name and the value is a list of their grades.  
    - Example: `{"Alice": [85, 90], "Bob": [78, 88], "Carol": [92, 95]}`.  
    - Print each student’s name and average grade.

35. **Nested Dictionary**  
    - Create a dictionary of dictionaries. For instance:  
      ```python
      employees = {
          "emp1": {"name": "John", "role": "Engineer"},
          "emp2": {"name": "Sara", "role": "Manager"}
      }
      ```  
    - Print the nested values for each employee.

36. **Counting Characters**  
    - Write a program that takes a string input (e.g. `"banana"`).  
    - Create a dictionary that maps each character to the number of occurrences.  
    - Print the dictionary.

---

## Range (Assignments 37-48)

37. **Basic `range(stop)`**  
    - Write a for-loop using `range(5)` that prints numbers from 0 to 4.

38. **`range(start, stop)`**  
    - Print numbers from 3 to 7 (inclusive) using `range(3, 8)`.  
    - Explain why the stop argument is exclusive.

39. **`range(start, stop, step)`**  
    - Print every second number from 2 to 10 (i.e., 2, 4, 6, 8).  
    - Show how to do this with `range(2, 10, 2)`.

40. **Negative Step**  
    - Print numbers from 10 down to 1 using a negative step: `range(10, 0, -1)`.

41. **Empty Range**  
    - Show a case where `range(start, stop)` produces an empty sequence (e.g. `range(5, 2)`).  
    - Print the result (should be no output).

42. **Sum of a Range**  
    - Use `sum(range(1, 11))` to find the sum of numbers 1 to 10 and print the result.

43. **Indexing a Range**  
    - Create a range object: `r = range(5, 15)`.  
    - Print `r[0]`, `r[-1]`, and slice `r[2:5]`.  
    - Convert the slice to a list and print it.

44. **Checking Membership**  
    - Write code that checks if `50` is in `range(0, 101, 10)`.  
    - Print the result (`True` or `False`).

45. **Length of a Range**  
    - Create `r = range(0, 30, 3)`.  
    - Convert it to a list and print its length.  
    - Explain how the length is computed based on `(stop - start) / step`.

46. **Range in a List Comprehension**  
    - Use a list comprehension with `range(1, 6)` to create a list of squares: `[x*x for x in range(1, 6)]`.  
    - Print the resulting list.

47. **Skipping Values**  
    - Print every third letter of the alphabet (e.g., `'a'`, `'d'`, `'g'`, etc.) by creating a string of the alphabet and using `range()` on indices.  
    - Show how you skip letters with a step of `3`.

48. **Comparing `range()` and `list(range())`**  
    - Demonstrate that `range(100000)` is efficient, while `list(range(100000))` consumes more memory.  
    - (For demonstration, just compare the type or lengths, don’t actually print all 100,000 numbers.)

---

## Mixed Assignments (49-50)

49. **Combining Sets, Tuples, and Dictionaries**  
    - Create a dictionary where each **key** is a tuple `(first_name, last_name)`, and each **value** is a set of courses that person is enrolled in. For example:
      ```python
      student_courses = {
        ("Alice", "Smith"): {"Math", "History"},
        ("Bob", "Brown"): {"Science", "Art"}
      }
      ```
    - Add a new course to one of the sets.  
    - Print the dictionary.  
    - Explain how tuples are useful as dictionary keys (they’re immutable).

50. **Using `range()` and a Dictionary Counter**  
    - Ask the user for a start, stop, and step (all integers).  
    - Generate a range object with those values.  
    - Convert it into a list, then create a dictionary that counts how often each **digit** (0-9) appears across **all** the numbers in that list.  
      - For example, if the list is `[10, 12, 14]`, the digits are `1, 0, 1, 2, 1, 4` — so the count for digit `1` is 3, etc.  
    - Print the dictionary of digit counts.

---

#